html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

mm-app {
  display: block;
  height: 100%;
}

mm-app main {
  position: relative;
  height: calc(100% - 46px);
  overflow: hidden;
}

mm-app .repo-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

mm-app .repo {
  min-width: 200px;
  max-width: 200px;
  min-height: 50px;
  max-height: 50px;
  padding: 10px 5px;
  margin: 0;
  cursor: pointer;
  transition: background-color .3s ease-in;
}

mm-app .repo:hover {
  background-color: darkgray;
}

mm-header {
  display: flex;
  padding: 5px 10px;
  box-shadow: 0 0 7px lightslategray;
}

mm-contributors {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  border-top: 1px solid lightslategray;
  background: white;
  transition: transform .3s ease-in;

  box-shadow: 0 0 7px lightslategray;
}

mm-contributors header {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}

mm-contributors h4 {
  padding: 0;
  margin: 0;
  line-height: 30px;
}

mm-contributors [mm-background-image] {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

mm-contributors .contributors-wrapper {
  display: flex;
  flex-wrap: wrap;
}

mm-contributors.active {
  transform: translate(-100%, 0);
}

mm-close-button {
  display: block;
  width: 30px;
  height: 30px;
  transition: transform .8s ease-in-out;
}

mm-close-button:hover {
  transform: rotate(360deg);
}

mm-close-button .mm-close-button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
