.mm-repos__list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.mm-repos__list__item {
  min-width: 200px;
  max-width: 200px;
  min-height: 50px;
  max-height: 50px;
  padding: 10px 5px;
  margin: 0;
  cursor: pointer;
  transition: background-color .3s ease-in;
}

.mm-repos__list__item:hover {
  background-color: darkgray;
}

.mm-repos__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  border-top: 1px solid lightslategray;
  background: #fff;
  transition: transform .3s ease-in;
  box-shadow: 0 0 7px lightslategray;
}

.mm-repos__sidebar--active {
  transform: translate(-100%, 0);
}
